<plugin name='modproxybalancer' version='0.1' grailsVersion='1.3.1 &gt; *'>
  <author>Stefan Armbruster, Davide </author>
  <authorEmail>stefan@armbruster-it.dem </authorEmail>
  <title>Manage an Apache mod_proxy_balancer LoadBalancer during a clusterwide application redeployment</title>
  <description>
This plugin assumes you have an Apache mod_proxy_balancer running in front of multiple tomcat instances in order to
provide a) high-availability and b) load-balancing to your Grails application. In such a scenario, upgrading the running
application to a newer release is painful. This plugin's goal is to simplify that procedure by performing a
"rolling upgrade". Calling 'grails tomcat redeploy' performs these actions:

1) take first node offline in loadbalancer
2) undeploy app on first tomcat node
3) deploy app on first tomcat node
4) check if app responds on first tomcat node
5) take first node online in loadbalancer
6) proceed the same procedure with next node

Since Grails 1.3.2 the tomcat plugin is capable of
a) deploying to multiple hosts and
b) emitting lifecycle events: PreDeploy, PostDeploy, PreUndeploy, PostUndeploy

By catching up these events it is simple possible to remote control the loadbalancer. mod_proxy_balancer comes with a
simple management frontend called balancer-manager. This consists of some simple HTML forms that can be easily
triggered using htmlunit.

This plugin was invented on the Hackergarden event at gr8conf 2010 in Copenhagen and finished the weekend afterwards.
Thanks to Canoo for sponsoring pizza and drinks.
</description>
  <documentation>http://grails.org/plugin/modproxybalancer</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>